@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,900,300,300italic,400italic,500italic,700italic);

* {
	font-family:Roboto,sans-serif;
}

html {
	overflow-y:scroll;
}

html, body {
	/*background-color:#f5f5f5;*/
	background-color:#e2e2e2;
}

.whitebox {
	background-color:#FFF;
	padding-top: 0.6em;
	padding-bottom: 0.6em;
	padding-left: 1em;
	padding-right: 1em;
	border-radius:4px;
	box-shadow:1px 1px 1px rgba(0,0,0,0.1);
	border:1px solid #fff;
	margin-bottom: 5em;

	min-height:120px;
}
.whitebox .fadedText {
	color:#444444;
	font-style:italic;
}

.tables {
}
.labview {
	text-align: center;
	cursor:pointer;
}
.symbols {
	font-weight:bold;
	margin-bottom:0.4em;
}
.symbolApproved {
	color: #dff0d8;
}
.symbolNotApproved {
	color:#f69988;
}

.approved {
	background-color:#c1e2b3;
	border:1px solid #5ea63f;
}
.notApproved {
	background-color:#f69988;
	color:#000;
	border:1px solid #ee3211;
}
.selected {
	text-shadow:1px 1px 1px rgba(0,0,0,0.1);
	background-color:rgba(0, 0, 0,0.75);
	color:#FFF;
}

.selected.notApproved {
	background-color:rgba(0, 0, 0,0.90);
}

.colouredHeader {
		color:#444444;
}

.infoboxleft {

	background-color:#FFF;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 1em;
	padding-right: 1em;
	border-radius:4px;

	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;

	box-shadow:1px 1px 1px rgba(0,0,0,0.1);
	margin-bottom: 2em;

	right: 14px;
}

.infoboxright {

	background-color:#FFF;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 1em;
	padding-right: 1em;
	border-radius:4px;
	box-shadow:1px 1px 1px rgba(0,0,0,0.1);

	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;

	margin-bottom: 2em;
	left: 14px;
}



.admininfobox {
	background-color: #d9534f;
	color: white;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 1em;
	padding-right: 1em;
	border-radius:4px;
	box-shadow:1px 1px 1px rgba(0,0,0,0.1);

	margin-bottom: 2em;
}

.shownElement {
	display:none;
}
.hiddenElement {
	display:none;
}
.editBlue {
	color:#2C3E50;
	cursor:pointer;
}

.pending {
	background-color:#CED1D4;
}
.pending tr {
	background-color:#CED1D4;
}
.pending td {
	background-color:#CED1D4;
}


.bottomPadding {
	margin-bottom:0.5em;
}

.navButton {
	margin-bottom: 5px;
	font-weight:bold;
	border:none;
	float:left;
	text-align: left;
}

.navButtonSelected {
	margin-bottom: 5px;
	font-weight:bold;
	border:none;
	float:left;
	text-align: left;
	background-color:#e5e5e5;
}

.navButtonDivider {
	background-color: #e5e5e5;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.tableDevider {
	background-color:#FFF;
}

.tableDevider td{
	background-color:#f9f9f9;
	border-top:1px solid #f9f9f9;
	margin-bottom:0.2em;
	height:3px;
}


.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
color: #a5a5a5;  /*Sets the text hover color on navbar*/

}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >
 a:hover, .navbar-default .navbar-nav > .active > a:focus {
color: white; /*BACKGROUND color for active*/
background-color: #030033;
}

  .navbar-default {
    background-color: #2C3E50;
    border-color: #2C3E50;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
color: #262626;
text-decoration: none;
background-color: #66CCFF;  /*change color of links in drop down here*/
}

.nav > li > a:hover,
.nav > li > a:focus {
text-decoration: none;
background-color: silver; /*Change rollover cell color here*/
}


.navbar-default .navbar-nav > li > a {
color: white; /*Change active text color here*/
}

/*.buildLog {
	background-color: red;
}*/

.buildLog p{
	color:#555555;
	font-size: 1em;
}


.gutterRight {
  margin-right:20px;
}

/*
	components/GroupSelector
*/
.groupselectoradd {
	margin-top: 10px;
}

.groupmanagericons {
	border-radius: 10px;
	border: none;
}
.groupmanagericons:hover {
	/*color:	#d9534f;*/
	color: gray;
}

/*
	Admin specific
*/
.scrolluserlist {
	height: 10em;
	padding: "100px 0";
	overflow-y:  scroll;
}
/**/

/* same colors
box-shadow: inset 0px 0px 40px 40px rgba(0,0,0,0.24);
background-color: #c1c1c1;
*/
.groupheader {
	box-shadow: inset 0px 0px 100px 100px rgba(0,0,0,0.01) !important;
}
.group {
	background-color: #e9ebed;
	border: none;
}
.aggray {
	background-color: #d4d8dc;
}
.agdarkgray {
	background-color: #e6f2ff;
}
.gropuwrapper {
	border: solid #f5f5f5 1px;
	margin-bottom: 5px;
}
.groupwrapper.wrapperactive {
	box-shadow: inset 0px 0px 100px 100px rgba(0,0,0,0.01);
	margin-bottom: 5px;
	border-radius: 4px;
}
.groupelement {
	border: none;
	box-shadow: inset 0px 0px 100px 100px rgba(0,0,0,0.01);
	margin-bottom: 5px !important;
}

.textc {
	text-align: center;
}

.buttonify {
	color:black;
	cursor: pointer;
}
.buttonify:hover {
	box-shadow: inset 0px 0px 100px 100px rgba(0,0,0,0.05);
}
.buttonactive {
	box-shadow: inset 0px 0px 100px 100px rgba(0,0,0,0.1);
}
.buttonactive:hover {
	box-shadow: inset 0px 0px 100px 100px rgba(0,0,0,0.1);
}

.coursecardbutton {
	cursor: pointer;
}

.coursecardbutton:hover {
	background-color: #f2f2f2;
}
.agcheck {

}
.agcheck:hover {
	cursor: pointer;
	color: blue;
}

.agcheckdisabled {
	color: #e9ebed;
}
.agcheckdisabled:hover {
	cursor: pointer;
	color: black;
}

.agcheckgreen {
	color: green;
}

.outlineButton {
	outline:none;
}
.outlineButton:hover {
	outline:none;
}
.outlineButton:active {
	outline:none;
}
.outlineButton:focus {
	outline:none;
	background-color:transparent;
}

.bottomMargin {
	margin-bottom:1em;
}
