html {
	overflow-y:scroll;
}

html, body {
	background-color:#e5e5e5;
}

.whitebox {
	background-color:#FFF;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 1em;
	padding-right: 1em;
	border-radius:4px;
	box-shadow:1px 1px 1px rgba(0,0,0,0.1);

	margin-bottom: 2em;
}

.infoboxleft {

	background-color:#FFF;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 1em;
	padding-right: 1em;
	border-radius:4px;
	box-shadow:1px 1px 1px rgba(0,0,0,0.1);

	margin-bottom: 2em;

	right: 14px;
}

.infoboxright {

	background-color:#FFF;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 1em;
	padding-right: 1em;
	border-radius:4px;
	box-shadow:1px 1px 1px rgba(0,0,0,0.1);

	margin-bottom: 2em;
	left: 14px;
}

.infoboxrightadmin {
	background-color: #d9534f;
	color: white;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 1em;
	padding-right: 1em;
	border-radius:4px;
	box-shadow:1px 1px 1px rgba(0,0,0,0.1);

	margin-bottom: 2em;
	left: 14px;
}

.selectedCourse {
	background-color:#5BC0DE;
	border-color:#46b8da;
	color:#FFF;
}

.pending {
	background-color:#CED1D4;
}
.pending tr {
	background-color:#CED1D4;
}
.pending td {
	background-color:#CED1D4;
}


.bottomPadding {
	margin-bottom:0.5em;
}

.navButton {
	margin-bottom: 5px;
	font-weight:bold;
	border:none;
	float:left;
	text-align: left;
}

.navButtonSelected {
	margin-bottom: 5px;
	font-weight:bold;
	border:none;
	float:left;
	text-align: left;
	background-color:#e5e5e5;
}

.navButtonDivider {
	background-color: #e5e5e5;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.tableDevider {
	background-color:#FFF;
}

.tableDevider td{
	background-color:#f9f9f9;
	border-top:1px solid #f9f9f9;
	margin-bottom:0.2em;
	height:3px;
}


.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
color: #a5a5a5;  /*Sets the text hover color on navbar*/

}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >
 a:hover, .navbar-default .navbar-nav > .active > a:focus {
color: white; /*BACKGROUND color for active*/
background-color: #030033;
}

  .navbar-default {
    background-color: #2C3E50;
    border-color: #2C3E50;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
color: #262626;
text-decoration: none;
background-color: #66CCFF;  /*change color of links in drop down here*/
}

.nav > li > a:hover,
.nav > li > a:focus {
text-decoration: none;
background-color: silver; /*Change rollover cell color here*/
}


.navbar-default .navbar-nav > li > a {
color: white; /*Change active text color here*/
}

.buildLog p{
	color:#2980B9;
	font-size:0.8em;
}

.cleanTable th, .table td {
     border-top: none !important;
 }
.gutterRight {
  margin-right:20px;
}

/*
	components/GroupSelector
*/
.groupelementbutton {
	border: 0px;
	padding: 2px;
	background-color: #e5e5e5;
	cursor: pointer;
}
.groupelementbutton:hover {
	background-color: #e5e5e0;
}
.groupelement {
	border: none;
	padding: 2px;
}
.groupselectoradd {
	margin-top: 10px;
}

.groupmanagericons:hover {
	background-color: white;
}

/*
	components/StudentAvailableSelector
*/

/*
	Admin specific
*/
.scrolluserlist {
	height: 10em;
	padding: "100px 0";
	overflow-y:  scroll;
}

.floatingtablehead {
}
